version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - /
    schedule:
      interval: monthly
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: monthly
    open-pull-requests-limit: 20
    cooldown:
      default-days: 7
